* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    text-decoration: inherit;
    color: inherit;
}

body {
    margin: auto;
}

.default-separator {
    font-weight: 1;
    color: #eae2b7;
}

.header-nav {
    padding: 5px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00121b;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 99;
    overflow-x: scroll;
    border-color: #f77f00;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

}

.header-nav .left-most-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    transition: all 0.2s ease;
}

.header-nav .left-most-content:hover {
    transform: scale(1.01);
}

.header-nav .left-most-content .menu-img {
    width: 20px;
    height: 20px;
    margin-right: 25px;
}

.header-nav .left-most-content .menu-img:hover {
    transform: scale(1.1);

}

.header-nav .left-most-content .menu-img:active {
    transform: scale(0.95);
}

.header-nav .logo-and-text {
    display: flex;
    width: 300px;
    height: 80px;
    align-items: center;

}

.header-nav .logo-and-text .logo-image {
    height: 50px;
    width: 50px;
}

.header-nav .logo-and-text .logo-text {
    font-size: 15px;
    font-weight: 1000;
    color: #eae2b7;
}



.page-container {
    display: grid;
    justify-items: center;
    align-content: top;
    gap: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-repeat: repeat-x;
    background-position: center;

    background-image: url(../../img/dragon-scales.svg);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00121b;
    backdrop-filter: bly;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eae2b7;

}

.login-register-container {
    border-radius: 15px;
    border: 2px solid #ffff;
    color: #ffff;

    display: block;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);

    height: 550px;
    width: 550px;
    margin-bottom: 300px;
    padding: 5%;
}

.title-container {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.main-inputs-container {
    gap: 40px;
    margin-top: 30px;
}

.input-box {
    height: 50px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.second-level-links {
    height: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.remember-me-span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
}

.checkbox {
    background-color: #00121b;
    height: 15px;
    width: 15px;
    border-radius: 5%;


}

.input-password,
.input-email {
    width: 70%;
    height: 100%;
    font-size: 15px;
    background: transparent;
    border: none;
    outline: none;
}

.toggle-password-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: x-large;
    --ionicon-stroke-width: 30px;
}

.toggle-password-display:hover {
    transform: scale(1.05);
}

.toggle-password-display:active {
    transform: scale(0.95);
}

.input-box:hover {
    border-color: rgb(192, 43, 80);

}

.login-button-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-button {
    background: transparent;
    background-color: #f77f00;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    transition: all 0.2s ease;
}

.login-button:hover {

    transform: scale(1.01);
}

.login-button:active {
    transform: scale(0.99);
}

.login-button-span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.login-icon {
    font-size: xx-large;
    --ionicon-stroke-width: 50px;
}

.links {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.forgot-password-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 15px;
}

.already-has-an-account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    right: 0px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.61);
}

.icon {
    font-size: x-large;
    --ionicon-stroke-width: 30px;
    transition: all 0.2s ease;
}

.page-footer {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    width: 100vw;
    height: 400px;
    background: linear-gradient(0deg, #00121b 78%, rgba(255, 255, 255, 0) 100%);
    gap: 100px
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: scale(1.1);
}